core/src/test/resources/flows/valids/waitfor-multiple-tasks.yaml
id: waitfor-multiple-tasks
namespace: io.kestra.tests

tasks:
  - id: waitfor
    type: io.kestra.plugin.core.flow.WaitFor
    condition: "{{ outputs.output_values.values.count == '4'}}"
    checkFrequency:
      maxIterations: 3
      interval: PT0.2S
    tasks:
      - id: echo
        type: io.kestra.core.tasks.log.Log
        message: "looping ..."
      - id: output_values
        type: io.kestra.plugin.core.output.OutputValues
        values:
          count: "{{ outputs.waitfor.iterationCount + 1 }}"